@font-face {
	font-family: 'Torus';
	src: url('assets/Torus Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@view-transition {
	navigation: auto;
}

* {
	font-family: "Torus", Torus;
	color: white;
}

html { scrollbar-width: none; height: 100%; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

body {
	background: #17020b;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/background.png");
	background-size: cover;
	background-position: center; /* Centers the image to avoid cropping only one side */
	background-repeat: no-repeat; /* Prevents the image from tiling */
}

.background {
	background: transparent;
	width: 100%;
	height: 100%;
	z-index: -1;
}

h1 {
	font-size:	32px;
	font-weight: normal;
}

h3 {
	font-size:	24px;
	font-weight: normal;
}

.notes {
	position: fixed;
	bottom: 4;
	left: 16;
	text-align: left;
}

.center {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.center img {
	width: 50%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	object-fit: contain;
}

.mainpage {
	padding:	32px;
}

.sidebar {
	position: fixed;
	right: 0; /* Aligns the right edge of the div with the right edge of the viewport */
	top: 16; /* Or specify a different top position if needed */
	width: 15%;
	height: 100%;
	z-index: 1;
	
	background: #2b0716;
	overflow: hidden;
	
	padding: 8px;
	
	border-radius: 32px 0px 0px 0px; /* Different radii for each corner */
	
	text-align: right;
	
	transform: translateX(90%);

	transition: transform 0.2s ease;
}

.sidebar:hover {
	transform: translateX(0);
}

.topnav {
	position: fixed;
	background: #2b0716;
	overflow: hidden;
	
	border-radius: 32px;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	
	height: 100%;
}

.topnav a:hover {
	background: #400920;
}

.topnav a.active {
	background: #47142a;
	color: white;
}

.imagegrid {
	list-style-type: none; /* Removes bullet points */
	margin: 0; /* Removes default outer spacing */
    padding: 0; /* Removes default inner spacing */
}

.imagegrid li {
	display: inline-block;
}

.imagegrid img {
	border-radius: 16px;
	transition: transform 0.2s ease; 
	padding: 8px;
}

.imagegrid img:hover {
  transform: scale(1.1); 
}

 /* Style the search box */
#mySearch {
	width: 100%;
	font-size: 18px;
	padding: 11px;
	border: 2px solid rgba(255, 255, 255, 0.5); /* 50% transparent white */
  
	border-radius: 32px;
  
	background: #400920;
	color: white;
}

button {
	font-size: 18px;
	padding: 11px;
	border: 2px solid #ddd;
  
	border-radius: 32px;
  
	background: #400920;
	color: white;
  
	width: 40%;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
	padding: 12px;
	text-decoration: none;
	display: block;
	border-radius: 32px;
	transform: translateX(5%);
	transition: transform 0.2s ease;
}

#myMenu li a:hover {
	background-color: #47142a;
	transform: translateX(0);
} 

hr {
	color: #2b0716;
}

#fullPageOverlay {
	position: fixed; /* Ensures it covers the entire viewport */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #1f020e;
	z-index: 9999; /* Ensures it's on top of other content */
	display: none; /* Initially hidden */
	justify-content: center; /* Center content horizontally */
	align-items: center; /* Center content vertically */
	color: white; /* Text color for overlay content */
	text-align: center;
}