*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Varela Round", Varela Round;
  font-weight: normal;
}

body {
  padding:	16px;
  margin: 0;
  background-color: #11111b;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand {
  color: rgba(255, 255, 255, .75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}

.notes {
	position: fixed;
	bottom: 4;
	right: 16;
	text-align: right;
}

.center {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}

.center img {
	width: 50%;
	text-align: center;
	margin-left: auto;
    margin-right: auto;
	object-fit: contain;
}

.mainpage {
	padding:	32px;
}

.sidebar {
	position: fixed;
	right: 0; /* Aligns the right edge of the div with the right edge of the viewport */
	top: 16; /* Or specify a different top position if needed */
	width: 15%;
	height: 100%;
	
	background: #181825;
	overflow: hidden;
	
	padding: 8px;
	
	border-radius: 32px 0px 0px 0px; /* Different radii for each corner */
	
	text-align: right;
}

.topnav {
	position: fixed;
	background: #181825;
	overflow: hidden;
	
	border-radius: 32px;
}

.topnav a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	
	height: 100%;
}

.topnav a:hover {
	background: #313244;
}

.topnav a.active {
	background: #1e1e2e;
	color: white;
}

.imagegrid {
	list-style-type: none; /* Removes bullet points */
	margin: 0; /* Removes default outer spacing */
    padding: 0; /* Removes default inner spacing */
}

.imagegrid li {
	display: inline-block;
}

.imagegrid img {
	border-radius: 16px;
	padding: 8px;
}

 /* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 2px solid #ddd;
  
  border-radius: 32px;
  
  background: #313244;
  color: white;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  display: block;
  border-radius: 32px;
}

#myMenu li a:hover {
  background-color: #313244;
} 

hr {
	color: #313244;
}